.about-section {
  position: relative;
}

.about-container {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 25%;
  height: 100%;
  background: #e6e8e9;
}

.about-container h1 {
  width: 30%;
  margin-left: 18%;
  font-family: "Public Sans";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #414548;
}

.about-text {
  width: 42.5%;
  margin-left: 29%;
  margin-top: 45px;
}

.about-text > p {
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-transform: capitalize;
  color: #414548;
  margin-bottom: 15px;
}

.keypoints p {
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 26px;
  color: #414548;
  text-transform: none;
  margin-bottom: 8px;
}

.keypoints .last {
  margin-bottom: 15px;
}

.point {
  display: flex;
  align-items: center;
}

.keypoints p img {
  margin-right: 10px;
}

.scroll-down {
  position: sticky;
  cursor: pointer;
  width: 150px;
  margin: 75px auto;
  text-align: center;
}

.scroll-down:hover {
  transform: scale(1.05);
  transition-duration: 500ms;
}

.scroll-down p {
  margin-bottom: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #414548;
}

hr {
  border: 1px solid #2a2a2a00;
}

@media only screen and (min-width: 1024px) {
  .about-container h1 {
    font-size: 76px;
    line-height: 75px;
  }
}

@media only screen and (max-width: 1361px) {
  .about-container h1 {
    font-size: 54px;
    line-height: 53px;
  }

  .about-container p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1047px) {
  .about-text {
    width: 70%;
  }

  .about-container h1 {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 800px) {
  .about-container h1 {
    font-size: 45px;
    line-height: 46px;
    width: 55%;
  }
}

@media only screen and (max-width: 728px) {
  .about-container h1 {
    margin-left: 10%;
    width: 55%;
    font-size: 42px;
    line-height: 46px;
  }
}
